# Ignore everything INSIDE the data directory by default
data/*

# White-list exception: Track ONLY the raw dataset zip file
!data/ToS.zip

# Virtual environment and local configurations
venv/
.env
__pycache__/
*.pyc